# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Andy Baird
	email = andy@humla.com
[alias]
	commitem = commit --allow-empty-message -m \"\"
	work = "!f() { limit=${1:-20}; git reflog show  --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n $limit | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'; }; f"
	code = !code -r $(git diff --name-only main...) .
	codecommit = !code -r $(git diff-tree --no-commit-id --name-only HEAD -r) .
	gpt-diff = !~/chat_gpt.sh git-diff
	jira = !~/jira.sh "$@"
	start = "!f() { BRANCH_NAME=$(~/dotfiles/jira_branch.sh \"$1\") && git checkout main && git pull && git checkout -b \"$BRANCH_NAME\"; }; f"
        lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all -n 15
[core]
	editor = vim
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[branch]
	sort = -committerdate
